/tok.json
/venv/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/encodings.xml
/.idea/fastApiProject.iml
/.idea/jsLibraryMappings.xml
/.idea/markdown.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
